

.container_imgs_ligas{
    display: flex;
    align-items: center;
    /* background: red; */
}

.imgs_container_ligas{
    width: 130px;
    height: 140px;
}

.imgs_container_ligas:hover{
    transition: ease-in .2s;
    margin-top: -15px;
    cursor: pointer;
}






/* qwe */