
.ganador_div{
    /* background: gray; */
    width: 30%;
    padding: 1rem;
    border-radius: 5px;
    color: rgb(184, 179, 179);
}

.top_datos{
    font-size: 1.1rem;
    margin-left: 1rem;
}



/* qwe */