<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/icono.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_navbar.css">
    <link rel="stylesheet" href="/css/styles_table.css">
    <link rel="stylesheet" href="/css/theme_light.css">
    <link rel="stylesheet" href="/css/footer_styled.css">
    <link rel="stylesheet" href="/css/top_styles.css">
    <link rel="stylesheet" href="/css/container_imgs_ligas.css">
    <title><%= tituloWeb %> </title>
</head>
<body id="body">

    <%- include('navbar') %>