<nav class="navbar navbar-expand-lg navbar_styles" id="navbar">
    <div class="d-flex align-items-center">
        <a href="#">
            <img src="/img/log.png" class="img_navbar" alt="">
        </a>
        <a class="navbar-brand elements_navbar" href="#">SoloQChallenge HN</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navbar_container">
        <li class="nav-item ml-1 py-3">
            <div class="d-flex justify-content-center flex-column">
                <select class="select_navbar py-1 mt-2" id="select">
                    <option value="2021">2021</option>
                </select>
                <!-- <i class="fas fa-arrow-down "></i> -->
                <i class="fas fa-chevron-down arrow_style"></i>
            </div>
        </li>
        <li class="nav-item ml-5 mt-1">
            <a class="d-flex justify-content-center firts_element_navbar" href="#">
                <div class="item_navbar py-2 px-5">
                    <i class="fas fa-align-left icon_clasificacion elements_navbar"></i>
                    <a class="nav-link elements_navbar" href="#">Posicionamiento</a>
                </div>
            </a>
        </li>

        <li class="nav-item mx-3 mt-1">
            <a class="d-flex justify-content-center firts_element_navbar" href="#">
                <div class="item_navbar py-2 px-5">
                    <i class="fas fa-cogs icon_clasificacion elements_navbar"></i>
                    <a class="nav-link elements_navbar" href="#">En Desarrollo</a>
                </div>
            </a>
        </li>

        <li class="nav-item mx-3 mt-1">
            <a class="d-flex justify-content-center firts_element_navbar" href="#">
                <div class="item_navbar py-2 px-5">
                    <i class="fas fa-cogs icon_clasificacion elements_navbar"></i>
                    <a class="nav-link elements_navbar" href="#">En Desarrollo</a>
                </div>
            </a>
        </li>

        <li class="nav-item mx-3 d-flex align-items-center mt-1">
            <i class="fas fa-moon mx-1 themes moon_style" id="btn_moon"></i>
            <i class="fas fa-sun mx-1 themes sun_style" id="btn_sun"></i>
        </li>

        <li class="nav-item mx-3 d-flex align-items-center mt-1">
            <div class="container_redes_sociales_navbar">
                <a href="https://www.twitch.tv/shadowbrokens" target="_blank" class="red_url mx-1">
                    <i class="fab fa-twitch redes_navbar redes_navbar_twitch"></i>
                </a>
                <a href="#" class="red_url mx-1">
                    <i class="fab fa-facebook-f redes_navbar redes_navbar_facebook"></i>
                </a>
                <a href="#" class="red_url mx-1">
                    <i class="fab fa-instagram redes_navbar redes_navbar_ig"></i>
                </a>
            </div>
        </li>
      </ul>
    </div>
  </nav>